* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p {
    padding-top: 0.8rem;
}



h4 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 24px;
    color: orange;
}

h5 {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 20px;
    color: orange;
}

h6 {
    margin-bottom: 0;
    margin-top: 16px;
    font-weight: 600;
    font-size: 16px;
}

.datenschutz-link {
    text-decoration: none;
    color: orange;
}

.datenschutz-link:hover {
    text-decoration: underline;
}

/* Mobile version */
@media only screen and (max-width: 420px) and (min-width: 300px) {
    body {
        align-items: center;
        height: 100dvh;
    }

    p {
        font-size: 10px;
    }

    .datenschutz {
        padding: 20px 20px 126px 20px;
        width: 300px;
    }

    .impressum {
        padding: 8px;
        font-size: 12px;
        margin-top: 24px;
        margin-bottom: 5rem;
        max-width: 720px;
    }

    h4 {
        font-weight: 600;
        font-size: 20px;
    }

    h5 {
        margin-bottom: 8px;
        font-weight: 600;
        font-size: 20px;
        margin-top: 32px;
    }

    ul {
        padding-left: 32px;
    }
}

/* Tablet version */
@media only screen and (max-width: 720px) and (min-width: 421px) {
    body {
        align-items: center;
        height: 100dvh;
    }

    p {
        font-size: 16px;
    }

    .datenschutz {
        padding: 20px 20px 126px 20px;
    }

    .impressum {
        padding: 8px 96px;
        font-size: 12px;
        margin-top: 24px;
        margin-bottom: 5rem;
        max-width: 720px;
    }

    h4 {
        font-weight: 600;
        font-size: 25px;
    }

    h5 {
        margin-bottom: 8px;
        font-weight: 600;
        font-size: 25px;
        margin-top: 83px;
    }

    ul {
        padding-left: 32px;
    }
}



/* Desktop version */
@media only screen and (max-width: 3333px) and (min-width: 721px) {
    body {
        align-items: center;
        height: 100dvh;
    }

    p {
        font-size: 16px;
    }

    .datenschutz {
        padding: 40px 80px 126px 80px;
    }

    .impressum {
        padding: 8px 96px;
        font-size: 12px;
        margin-top: 24px;
        margin-bottom: 5rem;
        max-width: 720px;
    }

    h4 {
        font-weight: 600;
        font-size: 25px;
    }

    h5 {
        margin-bottom: 8px;
        font-weight: 600;
        font-size: 25px;
        margin-top: 83px;
    }

    ul {
        padding-left: 32px;
    }
}