.footer {
    background-color: #403b3b;
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    width: 100%;
    position: fixed;
}

.footer-logo {
    height: 32px;
    justify-content: center;
}

.footer-logo:hover {
    filter: invert(1) drop-shadow(4px 4px 4px #dfe4df);
}

.footer-icon {
    height: 16px;
    padding-left: 8px;
}

.footer-icon:hover {
    filter: invert(1) drop-shadow(4px 4px 4px #dfe4df);
}

.footer-links a {
    text-decoration: none;
    color: white;
    padding-bottom: 8px;
}

.footer-links a:hover {
    text-decoration: underline;
    filter: invert(1) drop-shadow(4px 4px 4px #dfe4df);
}

.footer-links {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    padding-top: 12px;
}

.line {
    height: 50px;
    width: 2px;
    background-color: white;
}

@media (max-width:456px) {

    .footer {
        padding-left: 8px;
        padding-right: 8px;
    }

    .footer-logo {
        height: 32px;
        padding-right: 8px;
    }

    .footer-links {
        padding-left: 8px;
        padding-right: 8px;
    }
}