/* Impressum */

.impressum {
    padding: 56px 160px;
    display: flex;
    flex-direction: column;
}

@media(max-width:1000px) {
    .impressum {
        padding: 56px 96px;
    }
}

@media (max-width: 700px) {
    .impressum {
        padding: 56px 56px;
    }

    h4 {
        font-weight: 600;
        font-size: 20px;
    }

    h5 {
        font-size: 18px;
    }
}

@media(max-width:576px) {
    .impressum {
        padding: 8px;
        font-size: 12px;
    }
}

.menu {
    position: absolute;
    width: 50px;
    right: 16px;
    top: 16px;
    cursor: pointer;
}

.overlay-menu {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100vh;
    width: 200px;
    border-left: 1px solid black;
    transform: translateX(401px);
    transition: all 225ms ease-in-out;
    box-shadow: -4px 4px 8px rgb(230, 230, 230);
    border: 0;
}

.overlay-menu a {
    padding-top: 24px;
    padding-left: 24px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.overlay-menu a:hover {
    color: orange;
    text-decoration: underline;
}

.show-overlay-menu {
    transform: translateX(0px);
}

.close-button {
    position: absolute;
    top: 16px;
    right: 16px;
    background-color: orange;
    color: white;
    border: 0;
    padding: 4px 8px;
    border-radius: 8px;
}

.close-button:hover {
    background-color: orange;
}