* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.contact-form {
    display: flex;
    flex-direction: column;
    margin: 56px 160px;
    padding: 80px 80px;
    background-color: #EFEFEF;
    overflow: hidden;
}

.contact-form p {
    font-size: 10px;
}

.contact-checkbox {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    font-size: 10px;
}

input {
    font-family: 'Raleway', sans-serif;
}

.person-data {
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    border-width: 0px;
    padding-bottom: 8px;
    border-color: white;
    border-width: 0px;
    width: 100%;
    box-sizing: border-box;
}

.textarea-contact {
    max-height: 320px;
    min-height: 320px;
    font-family: 'Raleway', sans-serif;
    padding-left: 8px;
    padding-top: 8px;
    margin: 0px;
    resize: none;
    max-width: 100%;
}

.person-data-padding {
    padding: 8px;
    margin-bottom: 4px;
    border-radius: 4px;
    border-style: hidden;
}

.datasecurity-checkbox {
    display: flex;
    align-items: center;
}

.newsletter-checkbox {
    display: flex;
    align-items: center;
}

.button {
    background-color: orange;
    color: white;
    border: none;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-decoration: none;
    border-radius: 8px;
}

.button:hover {
    cursor: pointer;
    background-color: orangered;
}

.button a:hover {
    cursor: pointer;
    background-color: #10ca10;
}

.button a {
    text-decoration: none;
    color: white;
}

h1 {
    color: orange;
}

@media only screen and (max-width: 700px) and (min-width: 300px) {
    .contact-form {
        margin: 56px 0px;
    }

    h1 {
        display: flex;
        justify-content: center;
    }
}