@import url("./css/footer.css");
@import url("./css/header.css");
@import url("./css/datenschutz.css");
@import url("./css/kontaktformular.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  color: #202124;
  direction: ltr;
  font-family: "Roboto", arial, sans-serif;
  font-size: 15px;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  height: 100dvh;
  align-items: center;
}

.alertTextNone {
  display: none;
}

.alertTextShow {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: smaller;
  padding-left: 70px;
}


header {
  display: flex;
  gap: 1rem;
  width: 100%;
  height: 4.5rem;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: orange;
}

body::-webkit-scrollbar-thumb {
  background-color: blue;
  border-radius: 20px;
  border: 3px solid orange;
}

.navBar {
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 14%);
  border-bottom: 1px solid lightgray;
  padding-bottom: 8px;
}

.burgerMenu {
  height: 18px;
  width: 24px;
  color: #5f6368;
  opacity: 1;
}

.trashBinOutline {
  width: 16px;
  box-shadow: -4px 4px 3px 0px rgb(0 0 0 / 55%);
}

.trashBinOutline:active {
  box-shadow: inset -4px 4px 2px 0 rgb(0 0 0 / 14%);
}

.keepLogo {
  height: 36px;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%);
}

.partLeft {
  text-decoration: none;
  display: flex;
  gap: 20px;
  align-items: center;
  margin-left: 24px;
  margin-top: 16px;
  font-size: 22px;
  color: #484a4e;
  opacity: 1;
  filter: drop-shadow(-10px 11px 2px gray);
}

.magnGlass {
  height: 19px;
  padding-left: 4px;
}

.buttonSearch {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 13px;
  margin-left: 8px;
  height: 40px;
  width: 40px;
  cursor: pointer;
  background-color: #f1f3f4;
  border-radius: 50%;
  border: none;
}

.inputSearch {
  margin-right: 24px;
  margin-top: 10px;
  height: 46px;
  color: #5f6368;
  background-color: #f1f3f4;
  border-radius: 8px;
  padding-left: 56px;
  width: 210%;
  box-shadow: -11px 8px 8px 2px rgb(0 0 0 / 36%);
  border: 1px solid #00000045;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contAddNote {
  display: flex;
  flex-direction: column;
  box-shadow: -11px 8px 8px 2px rgb(0 0 0 / 36%);
  border: 1px solid #00000045;
  border-radius: 8px;
  padding: 8px 8px 8px 8px;
  /* width: 560px; */
}

.card {
  color: #5f6368;
  box-shadow: -11px 8px 8px 2px rgb(0 0 0 / 36%);
  border: 1px solid #00000045;
  border-radius: 8px;
  padding: 8px 8px 8px 8px;
  width: 240px;
  word-wrap: break-word;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 16px;
}

.gear {
  height: 24px;
}

.cardInBasket {
  color: #5f6368;
  box-shadow: -11px 8px 8px 2px rgb(0 0 0 / 36%);
  border: 1px solid #00000045;
  border-radius: 8px;
  padding: 8px 8px 8px 8px;
  width: 240px;
  word-wrap: break-word;
  font-weight: 400;
  background-color: rgb(255 17 0 / 44%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 16px;
}

.btnBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titelSave {
  font-weight: bold;
}

.yourNotes {
  color: #484a4e;
  padding: 16px;
  filter: drop-shadow(-10px 11px 2px gray);
}

.YourDeletedNotes {
  color: red;
  padding: 16px;
  filter: drop-shadow(-10px 11px 2px gray);
}

.content {
  padding-bottom: 12rem;
  margin: 1.5rem 2rem 1.5rem 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  align-items: flex-start;
}

.inputTitel {
  height: 32px;
  width: 100%;
  border: none;
  font: 16px/27px Roboto, Arial, sans-serif;
  font-weight: bold;
  overflow-wrap: break-word;
  word-break: break-all;
  color: #5f6368;
}

.inputTitel:focus {
  outline: transparent;
  box-shadow: none;
}

.inputNote {
  width: 100%;
  border: none;
  font: 14px/27px Roboto, Arial, sans-serif;
  font-weight: 400;
  margin-top: 8px;
  overflow-wrap: break-word;
  word-break: break-all;
  color: #5f6368;
}

.deleteButton {
  border: 0px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: -4px 4px 3px 0px rgb(0 0 0 / 14%);
  width: 24px;
  height: 24px;
  color: black;
  background-color: rgba(255, 0, 0, 0.514);
}

.deleteButton:active {
  box-shadow: inset -4px 4px 2px 0 rgb(0 0 0 / 14%);
}

.removedButton {
  margin-top: 16px;
  border: 0px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: -4px 4px 3px 0px rgb(0 0 0 / 14%);
  width: 24px;
  height: 24px;
  color: black;
  background-color: rgba(255, 0, 0, 0.514);
  font-weight: bolder;
}

.removedButton:active {
  box-shadow: inset -4px 4px 2px 0 rgb(0 0 0 / 14%);
}

.recoverButton {
  margin-top: 16px;
  border: 0px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: -4px 4px 3px 0px rgb(0 0 0 / 14%);
  width: 24px;
  height: 24px;
  color: black;
  background-color: rgb(16 255 0 / 34%);
}

.recoverButton:active {
  box-shadow: inset -4px 4px 2px 0 rgb(0 0 0 / 14%);
}

.buttonAddNote {
  margin-top: 16px;
  border: 0px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: -4px 4px 3px 0px rgb(0 0 0 / 14%);
  width: 24px;
  height: 24px;
  color: black;
  background-color: rgb(16 255 0 / 34%);
}

.buttonAddNote:active {
  box-shadow: inset -4px 4px 2px 0 rgb(0 0 0 / 14%);
}

input:focus {
  box-shadow: 0px 0px 2px 2px rgb(0 0 0 / 10%);
  outline: none;
  border-radius: 8px;
  background-color: white;
}

textarea:focus {
  outline: none;
  border-radius: 8px;
  background-color: white;
}

textarea {
  width: 100%;
  box-sizing: border-box;
  overflow-y: hidden;
  resize: none;
}

.titleNotes {
  font-weight: bold;
}

.partForBin {
  display: flex;
  align-items: center;
  padding-left: 24px;
  border-radius: 0 20px 20px 0;
  height: 40px;
  width: 64px;
  background-color: #f1f3f4;
  cursor: pointer;
  position: absolute;
  top: 5.54rem;
  left: 0;
  box-shadow: -11px 8px 8px 2px rgb(0 0 0 / 36%);
  border: 1px solid #00000045;
}

.backNotes {
  display: flex;
  align-items: center;
  padding-left: 24px;
  border-radius: 0 20px 20px 0;
  height: 40px;
  width: 64px;
  background-color: #f1f3f4;
  cursor: pointer;
  position: absolute;
  top: 9rem;
  left: 0;
  box-shadow: -11px 8px 8px 2px rgb(0 0 0 / 36%);
  border: 1px solid #00000045;
}

.dNone {
  display: none;
}

@media only screen and (max-width: 340px) and (min-width: 290px) {
  .contAddNote {
    width: 200px;
    margin-left: 56px;
  }

  .card {
    width: 160px;
    margin-left: 0;
  }

  .cardInBasket {
    width: 160px;
    margin-left: 0;
  }

  .btnBox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 1rem;
    gap: 1rem;
  }

  .editButton {
    border: 0px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: -4px 4px 3px 0px rgb(0 0 0 / 14%);
    width: 24px;
    height: 24px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .editButton:active {
    box-shadow: inset -4px 4px 2px 0 rgb(0 0 0 / 14%);
  }

  .partForBin {
    width: 56px;
  }

  .backNotes {
    width: 56px;
  }

  .inputSearch {
    width: 130px;
  }

  .YourDeletedNotes {
    font-size: 18px;
    padding-left: 70px;
  }

  .alertTextShow {
    font-size: 12px;
  }
}

@media only screen and (max-width: 450px) and (min-width: 341px) {
  .contAddNote {
    width: 224px;
    margin-left: 56px;
  }

  .card {
    width: 224px;
    margin-left: 56px;
  }

  .cardInBasket {
    width: 224px;
    margin-left: 56px;
  }

  .inputSearch {
    width: 89%;
  }
}

@media only screen and (max-width: 456px) and (min-width: 451px) {
  .inputSearch {
    width: 208px;
  }
}

.contAddNote {
  margin-left: 56px;
}

@media only screen and (max-width: 550px) and (min-width: 457px) {
  .inputSearch {
    width: 248px;
  }

  .contAddNote {
    width: 320px;
    margin-left: 72px;
  }
}

@media only screen and (max-width:576px) and (min-width: 551px) {
  .inputSearch {
    width: 328px;
  }

  .contAddNote {
    width: 440px;
    margin-left: 72px;
  }
}

@media only screen and (max-width: 3333px) and (min-width: 577px) {
  .inputSearch {
    width: 150%;
  }

  .contAddNote {
    width: 490px;
    margin-left: 72px;
  }
}