<a href="./../index.html"
  ><img class="footer-logo" src="./../img/Notes.png"
/></a>

<div class="line"></div>

<div class="footer-links">
  <a href="./../pages/impressum.html">Impressum</a>
  <a href="./../pages/datenschutz.html">Datenschutz</a>
  <a href="./../pages/kontaktformular.html">Kontakt</a>
</div>

<div class="line"></div>

<di>
  <a href="https://www.facebook.com/"
    ><img class="footer-icon" src="./../img/facebook_white.png"
  /></a>
  <a href="https://www.instagram.com/"
    ><img class="footer-icon" src="./../img/instagram_white.png"
  /></a>
  <a href="https://twitter.com/"
    ><img class="footer-icon" src="./../img/twitter_white.png"
  /></a>
</di