<footer class="footer">
  <a href="./index.html"
    ><img class="footer-logo" src="./img/logo_small.png"
  /></a>

  <div class="line"></div>

  <div class="footer-links">
    <a href="./impressum.html">Impressum</a>
    <a href="./datenschutz.html">Datenschutz</a>
    <a href="./kontaktformular.html">Kontakt</a>
  </div>

  <div class="line"></div>

  <div>
    <a href="https://www.facebook.com/"
      ><img class="footer-icon" src="./img/facebook_white.png"
    /></a>
    <a href="https://www.instagram.com/"
      ><img class="footer-icon" src="./img/instagram_white.png"
    /></a>
    <a href="https://twitter.com/"
      ><img class="footer-icon" src="./img/twitter_white.png"
    /></a>
  </div>
</footer>
